{% extends "base.html" %} {% block content %}
      {% if form.errors %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Your username and password didn't match. Please try again.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %} {% if next %} {% if user.is_authenticated %}
      <p>
        Your account doesn't have access to this page. To proceed, please login
        with an account that has access.
      </p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %} {% endif %} {{ mesagge }}
      <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col-8 mb-4">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-primary rounded" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
{% endblock %}
